page-list-adversary-screen {

    ion-col div {
    background-color: #ffdb0df5;
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    
    text-align: center;
  }

  .img{
     flex: 0 0 50%;
    max-width: 60%;
     padding: 5px 15;
}
  .back{
    
    background-color: #ffdb0df5;
    height: 100%;
          
}

 
  

}
